<footer class="mt-auto text-white-50">
    <i class="fab fa-node-js"></i>
    <i class="fab fa-bootstrap"></i>
    <i class="fab fa-html5"></i>
    <i class="fab fa-css3-alt"></i>
    <i class="fab fa-font-awesome-alt"></i>
    <div class="container">
        <span class="text-muted">Romain Clemencon &copy; 2020 @ MTU</span>
    </div>
</footer>