<!doctype html>
<html lang="en">
<%- include('../partials/head'); %>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../partials/header'); %>
    <body class="d-flex h-100 text-center text-white bg-dark">
    <main class="px-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-light bg-dark">Chat</h5>
                        <p class="card-text text-dark">Create a chat with our support 24/7 here. Currently disabled.</p>
                        <a href="" class="btn btn-secondary disabled">Start a chat</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-light bg-dark" >Email</h5>
                        <p class="card-text text-dark">Contact our support by email directly by clicking on the following button.</p>
                        <a href="mailto:romain.clemencon@mycit.ie" class="btn btn-secondary">Send us an email</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-light bg-dark">Phone</h5>
                        <p class="card-text text-dark">Call us directly to find a solution to your problem</p>
                        <a href="tel:00353834285203" class="btn btn-secondary">Start a phone call</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
    </body>
</div>
</html>
