<!doctype html>
<html lang="en">
<%- include('../partials/head'); %>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../partials/header'); %>
    <body class="d-flex h-100 text-center text-white bg-dark">
    <main class="px-3">
        <h1><%= errorMsg %></h1>
        <a href="/">
        <img src="../images/UgandaKnuckles.png" class="img-fluid" alt="Responsive image">
        </a>
    </main>
    <%- include('../partials/footer'); %>
    </body>
</div>
</html>
